@model IEnumerable<PreciousMetalsSecondHand.Models.OrderViewModel>
@{
    ViewData["Title"] = "Home";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Buy/Sell</th>
            <th scope="col">Location</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Phone number</th>
            <th scope="col">Email</th>
            <th scope="col">Created date</th>
            <th scope="col">Buy/Sell</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderViewModel in Model)
        {
        <tr>
            <td><img src="@orderViewModel.ProductImagePath" width="50px" height="50px" /></td>
            <td>@orderViewModel.ProductName</td>
            <td color="red">@orderViewModel.OrderType</td>
            <td>@orderViewModel.Location</td>
            <td>@orderViewModel.Price</td>
            <td>@orderViewModel.ProductDescription</td>
            <td>@orderViewModel.PurchaserPhoneNumber</td>
            <td>@orderViewModel.PurchaserEmail</td>
            <td>@orderViewModel.CreatedDate</td>
        </tr>
        }
    </tbody>
</table>

